@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
  --font_primary: "Begum", serif;
  --font_secondary: "Inter", sans-serif;
  --font_tertiary: "Inter", sans-serif;
  --font_quaternary: "Inter", sans-serif;
  --font_generic: "Inter", sans-serif;
  --lineheight_primary: 1.5;
  --lineheight_secondary: 1.5;
  --lineheight_tertiary: 1.5;
  --lineheight_quaternary: 1.5;
  --lineheight_generic: 1.5;
  --form-input-background-bg: #ffffff;
  --form-input-border-color: #d6d6d6;
  --form-input-label-color: #808080;
  --form-input-focus-brdcolor: rgb(194, 47, 103);
  --form-input-focus-bxshdw: inset 0 0 0 0.5px #e50068,
    0 0 0 3px rgba(229, 0, 104, 0.5);
  --form-input-text-color: #1a1a1a;
  --form-input-text-font: var(--font_generic);
  --form-button-primary-color: #ffffff;
  --form-button-primary-bg: rgba(0, 0, 0, 1);
  --form-button-primary-brdcolor: transparent;
  --form-button-secondary-color: #404040;
  --form-button-secondary-bg: #e7e7e8;
  --form-button-secondary-brdcolor: transparent;
  --form-text-heading-font: var(--font_secondary);
  --form-text-heading-color: #1a1a1a;
  --form-text-heading-lineht: 1.5;
  --form-text-heading-charspac: -0.05em;
  --form-text-subheading-font: var(--font_secondary);
  --form-text-subheading-color: #1a1a1a;
  --form-text-subheading-lineht: 1.5;
  --form-text-subheading-charspac: 0.01em;
  --form-generic-focus-bxshdw: rgba(0, 0, 0, 0.3);
  --form-generic-text-font: var(--font_generic);
  --form-generic-text-color: #404040;
  --form-generic-notice-color: #808080;
  --form-generic-background-bg: #f9f9fa;
  --form-generic-modal-bg: #ffffff;
  --form-generic-modal-brdcolor: #d6d6d6;
  --header-cntrysel-text-font: var(--font_generic);
  --header-cntrysel-text-color: #000000;
  --header-cntrysel-border-color: #bf9289;
  --header-cntrysel-background-bg: #e8d5d1;
  --header-cntrysel-dropdown-bg: #f3e2de;
  --header-cntrysel-dropdown-brdcolor: #d6d6d6;
  --header-cntrysel-dropdown-color: #000000;
  --header-cntrysel-dropdwnopen-bxshdw: 0 0 0 3px rgba(191, 146, 137, 50%);
  --header-cntrysel-dropdwnopen-brdcolor: #bf9289;
  --header-cntrysel-dropdwnitem-bg: #f3e2de;
  --header-cntrysel-dropdwnitem-hvrbg: #e2c9c2;
  --header-cntrysel-dropdwnitem-color: #404040;
  --header-cntrysel-dropdwnitem-hvrcolor: #404040;
  --header-cntrysel-button-bg: rgb(194, 47, 103);
  --header-cntrysel-button-brdcolor: transparent;
  --header-cntrysel-button-color: #ffffff;
  --header-cntrysel-clsbtn-color: #000000;
  --header-brdcrmb-brdcrmb-position: relative;
  --header-brdcrmb-brdcrmb-color: rgb(0, 0, 0);
  --header-brdcrmb-brdcrmb-brdcolor: rgb(255, 255, 255);
  --header-generic-background-bg: #fbfbfb;
  --header-generic-border-color: #e9e9e9;
  --header-generic-text-color: #000000;
  --header-generic-text-hvrcolor: #545454;
  --header-generic-text-brdcolor: #000000;
  --header-generic-dropdown-bg: #ffffff;
  --header-generic-dropdown-brdcolor: #d2d2d7;
  --header-generic-dropdown-brdsprtr: #e9e9e9;
  --header-searchdrpdown-background-hvrcolor: #f5f5f7;
  --header-searchdrpdown-label-color: #6e6e73;
  --listing-generic-ctgrybnr-bg: #fafafa;
  --listing-generic-ctgrybnr-brdcolor: #d6d6d6;
  --listing-generic-prodlst-bg: #fafafa;
  --listing-generic-prodlst-border: none;
  --listing-generic-prodlst-gridbg: #ffffff;
  --listing-generic-prodlst-labelbg: #fafafa;
  --listing-text-heading-color: rgb(0, 0, 0);
  --listing-text-heading-font: var(--font_primary);
  --pdp-generic-prod-gridbg: #ffffff;
  --pdp-generic-prod-labelbg: #fafafa;
  --lyrnv-generic-background-color: #fafafa;
  --faq-generic-background-color: #fafafa;
  --faq-generic-border-color: #d6d6d6;
  --faq-home-background-color: #fafafa;
  --faq-home-border-color: #d6d6d6;
  --common-commumsg-title-color: #404040;
  --common-commumsg-message-color: #808080;
  --common-commumsg-textlink-color: #808080;
  --common-commumsg-plcmnt-position: bc;
  --common-commumsg-error-color: #de071c;
  --common-commumsg-info-color: #377cf6;
  --common-commumsg-warning-color: #ef9837;
  --common-commumsg-notice-color: #ef9838;
  --common-commumsg-success-color: #2fa049;
  --common-link-textlink-color: rgb(0, 0, 0);
  --common-link-textlinkvstd-color: rgb(0, 0, 0);
  --common-loader-icon-color: rgb(194, 47, 103);
  --common-loader-background-color: rgba(255, 255, 255, 0.85);
  --common-generic-text-color: rgb(77, 77, 77);
  --common-generic-text-color2: rgb(77, 77, 77);
  --common-generic-title-color: rgb(0, 0, 0);
  --common-generic-border-color: rgb(216, 216, 214);
  --common-generic-heading-color: rgb(0, 0, 0);
  --common-generic-hover-color: rgb(194, 47, 103);
  --common-custom-custom1-bg: linear-gradient(45deg, #4fadff, #d36ec6);
  --common-custom-custom1-color: #404040;
  --common-custom-custom1-font: var(--font_secondary);
  --common-custom-custom2-bg: #f9f9fa;
  --common-custom-custom2-color: #404040;
  --common-custom-custom2-font: var(--font_secondary);
  --common-custom-custom3-bg: #f9f9fa;
  --common-custom-custom3-color: #404040;
  --common-custom-custom3-font: var(--font_secondary);
  --common-custom-custom4-bg: #f9f9fa;
  --common-custom-custom4-color: #404040;
  --common-custom-custom4-font: var(--font_secondary);
  --common-custom-custom5-bg: #f9f9fa;
  --common-custom-custom5-color: #404040;
  --common-custom-custom5-font: var(--font_secondary);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font_generic);
  line-height: var(--lineheight_generic);
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
}

/* Reset and utility styles */
/* Basic setup */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Button styles */
button {
  background: transparent;
}

/* button one */
.button-one {
  --button-color: #333;
}

.button-one .line {
  transition: y 200ms ease-in 200ms, rotate 200ms ease-in, opacity 0ms 200ms;
  transform-origin: center;
}
.button-one[aria-expanded="true"] .line {
  transition: y 200ms ease-in, rotate 200ms ease-in 200ms, opacity 0ms 200ms;
}
.button-one[aria-expanded="true"] .line.top {
  y: 45;
  rotate: 45deg;
}

.button-one[aria-expanded="true"] .line.middle {
  opacity: 0;
}

.button-one[aria-expanded="true"] .line.bottom {
  y: 45;
  rotate: -45deg;
}

.swiper-button-prev,
.swiper-button-next {
  color: #000000 !important; /* Change color */
  font-size: 32px !important; /* Doesn't affect pseudo-elements */
}

/* Target the pseudo-elements for the icon size */
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 32px !important; /* Force icon size */
  color: #000000 !important; /* Apply color */
}
