@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
  --font_primary: "Begum", serif;
  --font_secondary: "Inter", sans-serif;
  --font_tertiary: "Inter", sans-serif;
  --font_quaternary: "Inter", sans-serif;
  --font_generic: "Inter", sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font_generic);
  line-height: var(--lineheight_generic);
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
html {
  overflow-x: hidden;
}

/* Reset and utility styles */
/* Basic setup */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Button styles */
button {
  background: transparent;
}

/* button one */
.button-one {
  --button-color: #333;
}

.button-one .line {
  transition: y 200ms ease-in 200ms, rotate 200ms ease-in, opacity 0ms 200ms;
  transform-origin: center;
}
.button-one[aria-expanded="true"] .line {
  transition: y 200ms ease-in, rotate 200ms ease-in 200ms, opacity 0ms 200ms;
}
.button-one[aria-expanded="true"] .line.top {
  y: 45;
  rotate: 45deg;
}

.button-one[aria-expanded="true"] .line.middle {
  opacity: 0;
}

.button-one[aria-expanded="true"] .line.bottom {
  y: 45;
  rotate: -45deg;
}

.swiper-button-prev,
.swiper-button-next {
  color: #000000 !important; /* Change color */
  font-size: 32px !important; /* Doesn't affect pseudo-elements */
}

/* Target the pseudo-elements for the icon size */
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 32px !important; /* Force icon size */
  color: #000000 !important; /* Apply color */
}

/* For HeartBanner Component */

@media (min-width: 1025px) and (max-width: 1280px) {
  .hearts-content {
    margin-top: 250px;
  }
}
@media (min-width: 1025px) and (max-width: 1536px) {
  .heart-img-wrapper {
    margin-top: -90px;
  }
}
